
        <div class="side gap-2 col p-2 rounded-3 text-black">
            <a class="rounded-3 p-2" href="/credit/date">
                <div class=" w-100 d-flex flex-row m-auto align-items-center ps-3 gap-2" style="height: 80px;">
                    <div class="col-3 p-0">
                        <img class="w-100" src="/icons/house.png" alt="">
                    </div>
                    <div class="text-center">Acceuil</div>
                </div>
            </a>
            <a class="rounded-3 p-2" href="/credit/add">
                <div class=" w-100 d-flex flex-row m-auto align-items-center ps-3 gap-2" style="height: 80px;">
                    <div class="col-3 p-0">
                        <img class="w-100" src="/icons/add.png" alt="">
                    </div>
                    <div class="text-center">Add Credit</div>
                </div>
            </a>
            <a class="rounded-3 p-2" href="/credit/find">
                <div class=" w-100 d-flex flex-row m-auto align-items-center ps-3 gap-2" style="height: 80px;">
                    <div class="col-3 p-0">
                        <img class="w-100" src="/icons/search.png" alt="">
                    </div>
                    <div class="text-start">Check Credit and Balance</div>
                </div>
            </a>
            <a class="rounded-3 p-2" href="">
                <div class=" w-100 d-flex flex-row m-auto align-items-center ps-3 gap-2" style="height: 80px;">
                    <div class="col-3 p-0">
                        <img class="w-100" src="/icons/printer.png" alt="">
                    </div>
                    <div class="text-start">Print Reports</div>
                </div>
            </a>
            <a class="rounded-3 p-2" href="/credit/recovery">
                <div class=" w-100 d-flex flex-row m-auto align-items-center ps-3 gap-2" style="height: 80px;">
                    <div class="col-3 p-0">
                        <img class="w-100" src="/icons/data-recovery.png" alt="">
                    </div>
                    <div class="text-start">Money Recovery</div>
                </div>
            </a>
            <a class="rounded-3 p-2" href="/credit/enterprises">
                <div class=" w-100 d-flex flex-row m-auto align-items-center ps-3 gap-2" style="height: 80px;">
                    <div class="col-3 p-0">
                        <img class="w-100" src="/icons/profits.png" alt="">
                    </div>
                    <div class="text-center">Make Payments</div>
                </div>
            </a>
            <a class="rounded-3 p-2" href="">
                <div class=" w-100 d-flex flex-row m-auto align-items-center ps-3 gap-2" style="height: 80px;">
                    <div class="col-3 p-0">
                        <img class="w-100" src="/icons/settings.png" alt="">
                    </div>
                    <div class="text-center">Settings</div>
                </div>
            </a>
        </div>
        