<div class="modal fade" id="payment-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Effectuer un Paiement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="loaner-container">

                <form class="" action="/api/v1/pret/<%= loan._id %>/payment" method="post" id="basic-info-form">
                    <div class="add-credit">
                        <div class="form-mb">
                            <label for="payment-date">Date</label>
                            <input type="date" name="payment-date" id="payment-date">
                        </div>
                        <div class="form-mb">
                            <label for="receiptNumber">No Recu</label>
                            <input type="text" name="receiptNumber" id="receiptNumber" placeholder="X0000000">
                        </div>
                        <div class="form-mb">
                            <label for="totalPayment">Montant du Paiement</label>
                            <input type="text" name="totalPayment" id="totalPayment" placeholder="100000.00">
                        </div>
                        <div class="form-mb">
                            <label for="payment-type">Type de Paiement</label>
                            <select name="paymentOwner" id="payment-type">
                                <option value="">Choisir une Option</option>
                                <option value="individual">Individuel</option>
                                <option value="enterprise">Entreprise</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="add-credit">
                        <div class="form-mb">
                            <label for="enterprise-menu">Entreprise</label>
                            <select name="enterprise-name" id="enterprise-menu">
                                <option id="enterprise-default" value="">Choisir l'Entreprise</option>
                            </select>
                        </div>
                        <div class="form-mb">
                            <label for="enterprise">NIF Entreprise</label>
                            <input type="text" name="enterprise" id="nif-entreprise" placeholder="000-000-000-0">
                        </div>
                        <div class="form-mb">
                            <label for="ent-address">Address Entreprise</label>
                            <input type="text" name="ent-address" id="ent-address" placeholder="X0000000">
                        </div>
                    </div> -->
                    <div class="add-credit">
                        <div class="form-mb">
                            <label for="assuree-nif">NIF</label>
                            <input type="text" name="assuree" id="assuree-nif" value="<%= loan.assuree.nif %>">
                        </div>
                        <div class="form-mb">
                            <label for="surname">Nom</label>
                            <input type="text" name="surname" id="surname" placeholder="Andre">
                        </div>
                        <div class="form-mb">
                            <label for="firstname">Prenom</label>
                            <input type="text" name="firstname" id="firstname" placeholder="Kenny">
                        </div>
                        <div class="form-mb">
                            <label for="phone">Tel</label>
                            <input type="text" name="phone" id="phone" placeholder="Andre">
                        </div>
                        <div class="form-mb">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" placeholder="Kenny">
                        </div>
                        
                        <div class="form-mb">
                            <label for="immatriculation">Matricule</label>
                            <input type="text" name="immatriculation" id="immatriculation" placeholder="0000-000000-0000">
                        </div>
                    </div>
                    <div class="submit-cont">
                        <button type="submit" id="btn-basic-next">Ajouter Une autre Personne</button>
                        <button type="submit" id="btn-basic-next">Envoyer le Paiment</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
