<%- include('includes/header'); -%>

    <%- include('includes/welcome'); -%>
    <section class="">
        <div class="service-box container-lg row gap-5 py-5 justify-content-center m-auto">
            <a href="/identification" class="col-2 p-2 row gap-0 justify-content-center rounded-circle icon-bx align-content-center overflow-hidden shadow-lg">
                <p class="text-center display-8 mt-3 mb-1 fw-bolder">Identification</p>
                <div class="col-8">
                    <img class="w-100" src="icons/id-card.png" alt="a card icon" srcset="">
                </div>
            </a>
            <a href="" class="col-2 p-2 row gap-0 justify-content-center rounded-circle icon-bx align-content-center overflow-hidden shadow-lg">
                <p class="text-center display-8 mt-3 mb-1 fw-bolder">Archives</p>
                <div class="col-8">
                    <img class="w-100" src="icons/folder.png" alt="a card icon" srcset="">
                </div>
            </a>
            <a href="" class="col-2 p-2 row gap-0 justify-content-center rounded-circle icon-bx align-content-center overflow-hidden shadow-lg">
                <p class="text-center display-8 mt-3 mb-1 fw-bolder">Securite Sociale</p>
                <div class="col-8">
                    <img class="w-100" src="icons/network.png" alt="a card icon" srcset="">
                </div>
            </a>
            <a href="./credit/date" class="col-2 p-2 row gap-0 justify-content-center rounded-circle icon-bx align-content-center overflow-hidden shadow-lg">
                <p class="text-center display-8 mt-3 mb-1 fw-bolder">Credit</p>
                <div class="col-8">
                    <img class="w-100" src="icons/profits.png" alt="a card icon" srcset="">
                </div>
            </a>
        </div>
    </section>


<%- include('includes/footer'); -%>   